
body{
    margin: 0;
    height: 1800px;
    box-sizing: border-box;
}
.topNav {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    overflow: hidden;
    background-color: #F7EBDB;
    position: relative;
}
.topNav #myLinks{
    display:none;
    padding: 0 10px;
}
.topNav a{
    float: left;
    color: #D9A17F;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}
.topNav a.icon{
    float: right;
}
.cover{
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/pictures/CA91AA98-BB51-42B8-9876-550A31CA36A0.jpeg");
    background-size: cover;
    height: 480px;
}
#coverTitle {
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #CFAD99;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #f8eed0;
}
.gallerySection{
    position:relative;
    background-color: black;
    height: 600px;
    margin-top: 0;
    display: flex;
    justify-content: center;
}
.gallerySection img{
    padding-top: 50px;
    width: 213px;
    height: 396px;
}
