
body{
    margin: 0;
    height: 1800px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.topNav {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    overflow: hidden;
    background-color: #F7EBDB;
    position: relative;
}
.topNav #myLinks{
    display:none;
    padding: 0 10px;
}
.topNav a{
    float: left;
    color: #D9A17F;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}
.topNav a.icon{
    float: right;
    margin-right: 10px;
}
.cover{
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/pictures/39C00772-36B1-4013-8330-4F5DBA1ADFBD.jpeg");
    background-size: cover;
    height: 480px;
}
#coverTitle {
    font-size: 24px;
    font-weight: 200;
    color: #CFAD99;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #f8eed0;
}
.gallerySection{
    position:relative;
    background-color: #F7EBDB;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    padding: 25px;
}
.gallerySection img{
    width: 213px;
    height: 396px;
    border: 5px solid #cfad99;
}
.galleryBtn button{
    width: 100px;
    height: 25px;
    background: #CFAD99;
    color: #fff3cb;
    border-radius: 5px;
    border: none;
}
.testimonialsSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #F7EBDB;
    margin-top: -2px;
    padding: 0 0 27px 0;
}
.testimonialsSection h5{
    color: #819283;
    margin-bottom:10px;
    font-weight: 400;
    font-size: 16px
}
.testimonialsSection p{
    font-size: 10px;
    margin: 0 50px;
    font-weight: 300;
}