<header>
    <div class="topNav">
      <a href="/" id="homeBtn">
        <i class="fa-solid fa-camera"></i>
      </a>
      <div id="myLinks">
        <a href="pricing">Pricing</a>
        <a href="gallery">Gallery</a>
        <a href="contact">Contact</a>
      </div>
      <a href="javascript:void(0)" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </header>