<%- include ('./partials/head.ejs')%>
<link rel="stylesheet" href="../public/contactPage.css">
</head>
<body>
    <div class="contentContainer">
        <%- include ('./partials/navbar.ejs')%>
        <h3>Contact Me</h3>
        <form name="contact" method="POST" data-netlify="true">
            <p>
              <label><input id ='textInput' type="text" name="name" placeholder='Name'/></label>
            </p>
            <p>
              <label><input id ='textInput' type="email" name="email" placeholder='Email'/></label>
            </p>
            <p>
              <label class="labelText">Price Tier: <br/>
                <div id="radioBtns">
                    <input type="radio" id="bronze" name="tier" value="Bronze">
                    <label style="color:#A97142" for="bronze">Bronze</label>
                    <input type="radio" id="silver" name="tier" value="Silver">
                    <label  style="color:#aaa9ad"  for="silver">Silver</label>
                    <input type="radio" id="gold" name="tier" value="Gold">
                    <label style='color: #D4aF37'for="gold">Gold</label>
                    <input type="radio" id="mini" name="tier" value="Mini">
                    <label  style='color:#819283'for="mini">Mini</label>
              </div>
              </label>
            </p>
            <p>
                <label><input id ='textInput' type="instagram" name="instagram" placeholder='Instagram Handle'/></label>
              </p>
            <p>
              <label class="labelText">Shoot Details:  <br/> <textarea name="message" placeholder="Let me know about your shoot. Any inspiration, details, or ideas."></textarea></label>
            </p>
            <p id="btn">
              <button type="submit">Send</button>
            </p>
          </form>
          
    </div>
</body> 
</html>