<%- include ('./partials/head.ejs')%>
    <link rel="stylesheet" href="/public/assets/individualGallery.css" />
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>
        individual gallery page 
    </body>
</html> 