<%- include ('./partials/head.ejs')%>
<link rel="stylesheet" href="../public/galleryIndex.css">
</head>
<body>
    <div class="contentContainer">
        <%- include ('./partials/navbar.ejs')%>
        <h3>Gallery</h3>
        <div class="galleryContainer">
            <img src='../public/assets/pictures/D4B05AD5-825B-479D-A1E8-639282EC37F2.jpeg'/>
            <a href="#">
                Grace and Griffin
            </a>
        </div>
        <div class="galleryContainer">
            <img src='../public/assets/pictures/D4B05AD5-825B-479D-A1E8-639282EC37F2.jpeg'/>
            <a href="#">
                Grace and Griffin
            </a>
        </div>
    </div>
</body>
</html>