<%- include ('./partials/head.ejs')%>
<link rel="stylesheet" href="../public/galleryIndex.css">
</head>
<body>
    <div class="contentContainer">
        <%- include ('./partials/navbar.ejs')%>
        <h3>Gallery</h3>
        <div class="galleryContainer">
            <a href="#" class="pictureAnchor">
                <img src='../public/assets/pictures/D4B05AD5-825B-479D-A1E8-639282EC37F2.jpeg'/>
            </a>
            <a href="#">
                Gracie and Griffin
            </a>
        </div>
        <div class="galleryContainer">
            <a href="#" class="pictureAnchor">
                <img src='../public/assets/pictures/6FF4E0B7-6801-4CF8-AE01-E5103F7961E7.jpeg'/>
            </a>
            <a href="#">
                Gracie and Griffin
            </a>
        </div>
        <div class="galleryContainer">
            <a href="#" class="pictureAnchor">
                <img src='../public/assets/pictures/9CA83304-F1A3-41D3-9A80-52608A2BBD29.jpeg'/>
            </a>
            <a href="#">
                Gracie and Griffin
            </a>
        </div>
        <div class="galleryContainer">
            <a href="#" class="pictureAnchor">
                <img src='../public/assets/pictures/9EEBCCBF-D2F3-45FA-90EB-9362CF20DAC5.jpeg'/>
            </a>
            <a href="#">
                Gracie and Griffin
            </a>
        </div>
        <div class="galleryContainer">
            <a href="#" class="pictureAnchor">
                <img src='../public/assets/pictures/55A62C70-2168-4CC9-B8C8-1FD7DF81EEDF.jpeg'/>
            </a>
            <a href="#">
                Gracie and Griffin
            </a>
        </div>
        <div class="galleryContainer">
            <a href='#' class="pictureAnchor">
                <img src='../public/assets/pictures/84B93C58-91BB-48F7-953A-33BC9D492CCB.jpeg'/>
            </a>
            <a href="#">
                Gracie and Griffin
            </a>
        </div>
        <div class="galleryContainer">
            <a href='#' class="pictureAnchor">
                <img src='../public/assets/pictures/3067ECC6-8E71-4895-82FE-40C5AC264972.jpeg'/>
            </a>
            <a href="#">
                Gracie
            </a>
        </div>
    </div>
</body>
</html>