<%- include('./partials/head.ejs') %> 
  <link rel="stylesheet" href="public/landingPage.css" />
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %> 
    <div class="cover">
        <div id="coverTitle">
            LEAH BINGHAM
            <br />PHOTOGRAPHY
        </div>
        <button id= 'contact' onclick="window.location.href='contact';">
            <u>Book Session</u>
        </button>
    </div>
    <div class="contentContainer">
        <div class="gallerySection">
            <img src="../public/assets/pictures/GracieGriffin/E48CF2F0-D2D4-47E7-870A-555D4853C60C.jpeg" />
            <div class = "galleryBtn">
                <button onclick="window.location.href='gallery';">
                    <u>Gallery</u>
                </button>
            </div>
        </div>
        <div class="testimonialsSection">
            <h5>Testimonials</h5>
            <p>“When I tell you it was the absolute best decision we ever made when we chose Leah for our gender reveal photos! When I messaged her my vision and told her our situation of not knowing the exact day we would get the results back she jumped at the challenge. She really captured Hunter and I so well and went above and beyond. Our gender reveal was nothing like ones I normally see, and that’s why I wanted to do it! And, she made it even better then I could have hoped for! I can not recommend her enough and will definitely be using her again.”</p>
        </div>
        <div class="aboutSection">
            <img src='../public/assets/pictures/36A42AF2-8EB1-4C15-AFC6-7260E3CAA6EA.jpeg'/>
            <div>
                <h5>About Me</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet tellus cras adipiscing enim. Pellentesque habitant morbi tristique senectus et netus et.</p>
                <button onclick="window.location.href='contact';">
                    <u>Contact Me</u>
                </button>
                <div id="instagramHandle">
                    <i class="fa-brands fa-instagram fa-xl"></i>
                    : leahbinghamphoto
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
