<%- include ('./partials/head.ejs') %>
        <link rel="stylesheet" href="public/pricingPage.css" />
    </head> 
    <body>
        <%- include('./partials/navbar.ejs') %> 
        
    </body>
</html>