body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.topNav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    overflow: hidden;
    background-color: #F7EBDB;
    position: relative;
    gap: 1.5em;
}
.topNav #myLinks{
    display:none;
    padding: 0 10px;
}
.topNav a{
    float: left;
    color: #D9A17F;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 14px;
}
.topNav a.icon{
    float: right;
    margin-right: 10px;
}
.topNav #homeBtn{
    float: left;
}
.contentContainer{
    border: 6px #D9A17F;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-style: none;
    background: #F7EBDB;
    text-align: center;
    height:100vh;
}
.contentContainer h3{
    margin-top: 15px;
    color: #819283;
    font-weight: 400;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form p{
    width: 160px;
}
textarea{
    height: 150px;
    width: 200px;
    margin: 10px -50px 0px -50px;
    border-color: #819283;
    background-color: #D9A17F;
    color: #fff3cb;
    text-align: center;
    padding: 5px;
}
textarea::placeholder{
    color:#fff3cb
}
#btn{
    margin-top:0px;
}
button{
    width: 80px;
    border-radius: 5px;
    color:#fff3cb;
    background: #819283;
}
#textInput{
    border-top: none;
    border-right: none;
    border-left:none;
    border-color: #D9A17F;
    background: transparent;
    color:#819283
}
#textInput::placeholder{
    color:#819283
}
.labelText{
    color: #D9A17F;
}