body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.topNav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    overflow: hidden;
    background-color: #F7EBDB;
    position: relative;
    gap: 1.5em;
}
.topNav #myLinks{
    display:none;
    padding: 0 10px;
}
.topNav a{
    float: left;
    color: #D9A17F;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 14px;
}
.topNav a.icon{
    float: right;
    margin-right: 10px;
}
.topNav #homeBtn{
    float: left;
}
.contentContainer{
    border: 6px #D9A17F;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-style: none;
    background: #F7EBDB;
    text-align: center;
}
.contentContainer h3{
    margin-top: 5px;
    color: #819283;
    font-weight: 400;
}
.imageContainer{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    gap: 25px 0px;
    padding: 0 50px 0 50px;
    margin-bottom: 50px;
}
.galleryImage{
    height:180px;
    width: 107px;
    border: 7px solid #e7c8b6;
    border-radius: 5px;
}