body{
    margin: 0;
    height: 1800px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.topNav {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    overflow: hidden;
    background-color: #F7EBDB;
    position: relative;
    gap: 1.5em;
}
.topNav #myLinks{
    display:none;
    padding: 0 10px;
}
.topNav a{
    float: left;
    color: #D9A17F;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}
.topNav a.icon{
    float: right;
    margin-right: 10px;
}
.contentContainer{
    border: 6px #D9A17F;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-style: none;
    background: #F7EBDB;
    text-align: center;
}
.contentContainer h3{
    color: #819283;
    font-weight: 400;
}
.contentContainer p{
    font-size: 12px;
    font-weight: 300;
}
#contact{
    margin-top: 15px;
    margin-bottom: 50px;
    width: 100px;
    height: 25px;
    background: #819283;
    color: #fff3cb;
    border-radius: 5px;
    border: none;
}
.bronzeTier{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.bronzeTier img{
    height:180px;
    width: 135px;
    border-radius: 100%;
    border: 2px solid #D9A17F;
}
.bronzeTier h5{
    margin: 5px 0 0 0;
    font-size: 16px;
    font-weight: 600;
    color: #A97142;
}
.bronzeTier h6{
    margin: 5px 0 0 0;
    font-size: 14px;
    font-weight: 400;
}
.bronzeTier ul{
    font-size: 14px;
    font-weight: 300;
    padding-left: 0;
}
.silverTier{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 25px;
}
.silverTier img{
    height:180px;
    width: 135px;
    border-radius: 100%;
    border: 2px solid #D9A17F;
}
.silverTier h5{
    margin: 5px 0 0 0;
    font-size: 16px;
    font-weight: 600;
    color: #A97142;
}
.silverTier h6{
    margin: 5px 0 0 0;
    font-size: 14px;
    font-weight: 400;
}
.silverTier ul{
    font-size: 14px;
    font-weight: 300;
    padding-left: 0;
}
/* .silverTier{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 25px;
}
.silverTier img{
    height:180px;
    width: 135px;
    border-radius: 100%;
    border: 2px solid #D9A17F;
}
.silverTier h5{
    margin: 5px 0 0 0;
    font-size: 16px;
    font-weight: 600;
    color: #A97142;
}
.silverTier h6{
    margin: 5px 0 0 0;
    font-size: 14px;
    font-weight: 400;
}
.silverTier ul{
    font-size: 14px;
    font-weight: 300;
    padding-left: 0;
} */